extends bootstrap
block title
  title= status
block body
  div(class='container')
    div(class='row')
      div(class='col-md-12' style='padding: 40px 15px; text-align: center;')
        h1 Oops!
        h2 Authentication error
        div(class='error-details')
          p You need to be authenticated to view this page
        div(class='error-actions' style='margin-top: 15px; margin-bottom: 15px;')
          a(href='/login' class='btn btn-primary btn-lg')
            span(class='glyphicon glyphicon-home' style='margin-right: 10px;')
            |Login
