extends /layouts/main
block title
  title Services Monitor
block content
  div(class='col-md-12' id='container')
    div(class='panel panel-primary')
      div(class='panel-heading') Loading...
        span(class='label label-info pull-right', style='position: relative; top: 2px;') services
      div(class='panel-body')
block scripts
  script(src='/js/socket.io.min.js')
  script(src='/js/services.js')
