nav(class='navbar navbar-default')
  div(class='navbar-header')
    button(type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#navbar-collapse')
      span(class='icon-bar top-bar')
      span(class='icon-bar middle-bar')
      span(class='icon-bar bottom-bar')
    a(class='navbar-brand' href='/') HomeServer
  div(class='collapse navbar-collapse' id='navbar-collapse')
    ul(class='nav navbar-nav')
      if user
        li(class='dropdown')
          a(href='#' class='dropdown-toggle' data-toggle='dropdown') Monitor 
            span(class='caret')
          ul(class='dropdown-menu')
            li
              a(href='/monitor/raid') Raid
            li
              a(href='/monitor/network') Network
    ul(class='nav navbar-nav navbar-right')
      if user
        li(class='dropdown')
          a(href='#' class='dropdown-toggle' data-toggle='dropdown')
            |#{user.username}
            span(class='caret')
          ul(class='dropdown-menu')
            li
              a(href='/user/account') Account settings
            if user.permissionLevel > 9
              li
                a(href='/user/manage') Manage users
            li(class='divider')
            li
              a(href='/auth/logout') Logout
      else
        li
          a(href='/login') Login
        li
          a(href='/register') Register
